@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

/* hide starlight stuff */
.sidebar-pane, 
starlight-theme-select,
starlight-menu-button {
  display: none !important;
}

/*no search either*/
.search {
  display: none !important;
}

starlight-search, 
[data-starlight-search] {
  display: none !important;
}
