[data-template="splash"] {
  background-image: none !important;
  animation: none !important;
  background-color: #03080c !important; 
  box-shadow: none !important;
}

[data-template="splash"] .right-sidebar-panel {
  display: none !important;
}

[data-template="splash"] h1 {
  color: white; 
}